.App {
  text-align: center;
}

.button {
  outline: none;
  padding: 15px 30px;
  background-color: #fff;
  border: 1px solid darkgrey;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.delete-button:hover {
  border: 1px solid #CC6263;
  background-color: #CC6263;
  color: #fff;
}

@keyframes blink {  
  0% { opacity: .5 }
  50% { opacity: 1 }
  100% { opacity: .5 }
}
@-webkit-keyframes blink {
  0% { opacity: .5 }
  50% { opacity: 1 }
  100% { opacity: .5 }
}
.blink {
  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
} 

.nav-buttons {
  display: flex;
  justify-content: center;
}

.first {
  margin-right: 30px;
}

.nav-button {
  padding: 20px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
  transition: all .2s ease-in-out;
}

.nav-button:hover {
  color: #fff;
  border: 1px solid lightseagreen;
  background-color: lightseagreen;
}
